* {
    margin: 0%;
    padding: 0%;
}

.header {
    background: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.header_logo {
    margin-left: 9%;
    padding: 1%;
}

.header_logo img {
    width: 140px;
}

.main {
    display: flex;
    background: linear-gradient(to right bottom, black, rgb(14, 55, 56), rgb(58, 148, 143), rgb(4, 138, 175));
    align-items: center;
}

.main_info {
    display: block;
    margin: 10%;
    flex: 1;
}

.main_info_title {
    margin: 3%;
    color: white;
    font-size: 60px;
    font-weight: 200;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_info_info {
    margin: 3%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_info_button {
    margin: 3%;
    border-radius: 6px;
    border-color: rgb(3, 128, 177);
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(8,157,215);
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}

.main_info_button:hover {
    border-color: rgb(8,157,215);
}

.main_photo {
    padding: 5%;
}

.main_photo img {
    width: 600px;
}

.case_study {
    padding: 5%;
    background: linear-gradient(to right top, rgb(0, 0, 0), rgb(3, 46, 45), rgb(0, 0, 0));
    display: block;
}

.case {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
}

.case_info {
    font-family: monospace;
    padding: 100px;
    flex: 1;
    color: white;
}

.case_info h4 {
    padding: 15px;
    text-align: center;
    font-size: 40px;
}

.case_info p {
    text-align: center;
    font-size: 16px;
}

.case_photo img {
    width: 640px;
}

.case_photo video {
    width: 660px;
}